In [2]:
import glob
import pandas as pd

df = pd.read_csv(r'C:\Users\trainor-gilhamt\Documents\Ferrero UK\Ferrero UK Spreads Curve\Ferrero_UK_Spreads_Curve_Model_Data_Transformed.csv')

df

        RETAILER      UPC_DESC        WEEK   UNITS  SALES (GBP)  ACV
0           Asda  5.017244e+07  09/05/2020  2210.0       3072.1   86
1           Asda  5.017244e+07  16/05/2020  2331.0       3245.0   86
2           Asda  5.017244e+07  23/05/2020  2598.0       3399.9   86
3           Asda  5.017244e+07  30/05/2020  2100.0       2920.7   86
4           Asda  5.017244e+07  06/06/2020  2103.0       2924.7   86
...          ...           ...         ...     ...          ...  ...
139238  Waitrose  9.421910e+12  07/08/2021    17.0        332.9    2
139239  Waitrose  9.421910e+12  14/08/2021     4.0         40.0    2
139240  Waitrose  9.421910e+12  21/08/2021     1.0         50.0    2
139241  Waitrose  9.421910e+12  16/10/2021     3.0        150.0    1
139242  Waitrose  9.421910e+12  23/10/2021     1.0         10.0    1

[139243 rows x 6 columns]

In [3]:
df2 = pd.read_csv(r'C:\Users\trainor-gilhamt\Documents\Ferrero UK\Ferrero UK Spreads Curve\Ferrero_UK_Spreads_Curve_Model_Data_Transformed 2.csv')

df2

       RETAILER      UPC_DESC        WEEK    UNITS  SALES (GBP)  ACV
0          Asda  2.108410e+07  16/05/2020  25580.0       7170.9   95
1          Asda  2.108410e+07  23/05/2020  11643.0       3259.9   94
2          Asda  2.108410e+07  30/05/2020   2386.0        665.7   92
3          Asda  2.108410e+07  06/06/2020    374.0        104.7   80
4          Asda  2.108410e+07  13/06/2020    120.0         33.6   67
...         ...           ...         ...      ...          ...  ...
42247  Waitrose  5.000170e+12  02/04/2022    252.0        769.5   82
42248  Waitrose  5.000170e+12  09/04/2022    148.0        499.4   83
42249  Waitrose  5.000170e+12  16/04/2022    175.0        606.3   82
42250  Waitrose  5.000170e+12  23/04/2022    115.0        400.5   71
42251  Waitrose  5.000170e+12  30/04/2022    151.0        527.0   68

[42252 rows x 6 columns]

In [4]:
df['count'] = df.groupby(['RETAILER','UPC_DESC','WEEK']).cumcount()
df2['count'] = df2.groupby(['RETAILER','UPC_DESC','WEEK']).cumcount()

df_tot = pd.concat([df,df2], ignore_index=False)
df_tot = df_tot.drop_duplicates()
df_tot = df_tot.drop(['count'], axis=1)

df_tot

       RETAILER      UPC_DESC        WEEK   UNITS  SALES (GBP)  ACV
0          Asda  5.017244e+07  09/05/2020  2210.0       3072.1   86
1          Asda  5.017244e+07  16/05/2020  2331.0       3245.0   86
2          Asda  5.017244e+07  23/05/2020  2598.0       3399.9   86
3          Asda  5.017244e+07  30/05/2020  2100.0       2920.7   86
4          Asda  5.017244e+07  06/06/2020  2103.0       2924.7   86
...         ...           ...         ...     ...          ...  ...
42247  Waitrose  5.000170e+12  02/04/2022   252.0        769.5   82
42248  Waitrose  5.000170e+12  09/04/2022   148.0        499.4   83
42249  Waitrose  5.000170e+12  16/04/2022   175.0        606.3   82
42250  Waitrose  5.000170e+12  23/04/2022   115.0        400.5   71
42251  Waitrose  5.000170e+12  30/04/2022   151.0        527.0   68

[181495 rows x 6 columns]

In [5]:
df_tot.to_csv(r'C:\Users\trainor-gilhamt\Documents\Ferrero UK\Ferrero UK Spreads Curve\Ferrero_UK_Spreads_Curve_Model_Data_Transformed Final.csv', index=False)